$mainBg: white;

$mainCl: white;
$secondCl: #444444;
$thirdCl: #666666;
$buttonCl: #FF4E50;

$mainFont: 'Montserrat Bold';
$firstFont: 'Montserrat Light';
$fourthFont: 'Montserrat Thin';
$secondFont: 'Roboto Light';
$thirdFont: 'Roboto Thin';